{% extends 'Esportwebsite/header.html' %}

{% block content %}
<br>
<h1>เพิ่มข่าวสาร</h1>

<form action="{% url 'addnewsdata' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
<div class="form-group">
    <label for="">ข่าวสาร</label>
    <input type="text" name="news_title" class="form-control">
</div>

<div class="form-group">
    <label for="">รายละเอียดข่าวสาร</label>
    <textarea class="form-control" name="news_detail" id="news_detail"  rows="5"></textarea>
</div>


<div class="form-group">
   <input type="file" name="news_photo" accept="image/x-png,image/gif,image/jpeg" required> 
    <img id="blah" src="#" alt="" class="img-thumbnail">
</div>


<input type="submit" value="บันทึกข่าวสาร" class="btn btn-success">



</form>



{% endblock %}