{% extends 'Esportwebsite/header.html' %}

{% block content %}
<br>
<h1>แก้ไขข้อมูลข่าวสาร</h1>

{% for data in result %}

<form action="{% url 'contentupdate' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{data.id}}" name="id">
  
    <div class="form-group">
        <label for="">ข่าวสาร</label>
        <input type="text" name="news_title" value="{{data.news_title}}" class="form-control">
    </div>

    <div class="form-group">
        <label for="">รายละเอียดข่าวสาร</label>
        <textarea class="form-control" name="news_detail" id="news_detail" rows="5">{{data.news_detail}}</textarea>
    </div>


    <div class="form-group">
    <input type="file" name="news_photo" accept="image/x-png,image/gif,image/jpeg"> 
        <img id="blah" src="{{data.news_photo.url}}" alt="" class="img-thumbnail">
    </div>


<input type="submit" value="แก้ไขข่าวสาร" class="btn btn-success">



</form>
{% endfor %}



{% endblock %}